<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title : "Playback Studio" %></title>
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/album-card.css">
    <link rel="stylesheet" href="/css/save-album.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/album.css">
    <link rel="stylesheet" href="/css/add-album.css">

    <link id="favicon" rel="icon" type="image/x-icon" href="/images/PS_LogoLightMode.svg">

    <script>
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.getElementById('favicon').href = '/images/PS_LogoDarkMode.svg';
        }
    
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
            document.getElementById('favicon').href = event.matches ? '/images/PS_LogoDarkMode.svg' : '/images/PS_LogoLightMode.svg';
        });
    </script>

</head>
<body>

    <main>
        <%- body %>
    </main>

    <footer>
        <p>© Playback Studio 2025</p>
    </footer>
</body>
</html>