:root {
  /* Light Mode Colors */
  --green-primary: #315638;
  --green-secondary: #fffeef;
  --off-white: #fffeef;
  --contrast: #235735;

  --white: #ffffff;
  --red: #ad281e;
  --orange: #d17b30;
  --yellow: #fbe458;
  --blue: #2e4cb3;
  --purple: #6b359c;
  --pink: #d5529d;

  /* Font Size */
  --large-wordmark: 11rem;
  --medium-wordmark: 6rem;
  --small-wordmark: 4rem;

  --large-heading: 5.5rem;
  --medium-heading: 3rem;
  --small-heading: 2rem;

  --body-copy: 1rem;
}

/* Dark Mode Colors */
@media (prefers-color-scheme: dark) {
  :root {
    --green-primary: #a4c3a2;
    --green-secondary: #7c957e;
    --off-white: #07150c;
    --contrast: #fffef6;

    --white: #ffffff;
    --red: #ad281e;
    --orange: #d17b30;
    --yellow: #fbe458;
    --blue: #2e4cb3;
    --purple: #6b359c;
    --pink: #d5529d;
  }
}

/* Fonts */
@font-face {
  font-family: "PPRightSerif-TallRegular";
  src: url("/fonts/PPRightSerif-TallRegular.otf") format("opentype");
}

body {
  font-family: "space grotesk", sans-serif;
  background-color: var(--off-white);
  color: var(--contrast);
  text-align: center;
  min-height: 100dvh;
  margin: 0 8rem;
  font-size: var(--body-copy);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
  border-top: var(--contrast) 0.5px solid;
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px;
}
