.save-album-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.save-album-thumbnail img {
  max-width: 562px;
  width: 100%;
  height: 562px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.input-header {
  text-align: left;
  margin: 0;
  margin-bottom: 0.5rem;
}

.save-btn {
  display: flex;
  justify-content: left;
  background-color: var(--contrast);
  color: var(--off-white);
  padding: 15px 40px;
  font-size: 1rem;
  border-radius: 2px;
  border: none;
  text-decoration: none;
  transition: background 0.3s;
  cursor: pointer;
}

.save-album-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.save-album-form input,
.save-album-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 0.5px solid var(--contrast);
  background: none;
  border-radius: 2px;
}

input,
textarea {
  color: var(--contrast);
}

.save-album-form button:hover {
  background-color: var(--green-secondary);
}

@media (max-width: 1200px) {
  .save-album-thumbnail img {
    max-width: 500px;
    width: 100%;
    height: 500px;
  }
}

@media (max-width: 992px) {
  .save-album-container {
    flex-direction: column;
    text-align: center;
  }
  .save-album-form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .save-album-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .album-image img {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
  }
}
